<div class="row m-b-18px">
    <div class="col-md-12">
        <!-- button to create new product -->
    </div>
</div>
 
<div class="row">
    <div class="col-md-12">
 
        <!-- HTML table for our list of product records -->
        <table class='table table-hover table-responsive table-bordered'>
 
            <tr>
                <th>UserID</th>
                <th>PlayerID</th>
                <th>PlayerRideID</th>
            </tr>
 
            <!-- Use *ngFor directive to loop throught our list of products. -->
            <tr *ngFor="let ride of rides">
                <td>{{ride.user_id}}</td>
                <td>{{ride.player_id}}</td>
                <td>{{ride.player_ride_id}}</td>
            </tr>
        </table>
    </div>
</div>
